<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoneyMinds Home</title>
</head>
<body>
  <app-header></app-header>
  <div class="flex container m-20 p-20 flex-col gap-10">
    <div class="text-4xl flex gap-2 flex-col">
            
      <span class="text-6xl font-semibold">Welcome to <span class="text-blue-500">MoneyMinds</span>, where financial literacy meets fun!
      </span>
      <br>
      Empower your students with essential skills for navigating the world of money confidently. 
      Our interactive platform offers comprehensive K-12 education on finance through engaging games, quizzes, and lessons. 
      Join us in shaping a generation of financially savvy individuals ready to take on the world with confidence. Unlock the secrets to financial success with MoneyMinds.
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-32" href="/dashboard" id="About">
      <a href="/dashboard">Get Started!</a>
    </button>
    
  </div>
  <!-- image -->
  <div class="flex justify-center items-center flex-col  m-20 p-20">
    <h1 class="text-6xl text-blue-500 font-bold mb-20">Lesson Flowchart</h1>
    <p class="text-xl w-3/4"> Take a look at our lesson plan! Our course will take you from the basics of money, all the way to a foundational understanding of the future of finance! Our locked modules can be unlocked on our premium plan.</p>
    <img src="/assets/thumbnail_diagram.png" alt="" class="w-3/4">

  </div>

</body>
</html>