<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="container flex justify-center mx-auto flex-col items-center">
        <h1 class="p-10 mt-20 text-3xl font-semibold">
            Chapter 1
        </h1>
        <div class="flex flex-col text-xl">
            Introduction to Money
        </div>
        <a href="/chapter1">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10" href="/chapter1">
                Start!
            </button>
        </a>
    </div>
</body>
</html>