<div class="w-full flex-none">
<header class=" hidden lg:block blue-bg">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 h-full text-xl text-black" aria-label="Global">
        <div class="flex lg:flex-1">
            <a class="m-1.5 p-1.5" href="/">
                <img class="h-16" src="assets/Logo.jpg" alt="Sentiment Sage Logo">
            </a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end h-16 align-middle gap-8">
            <div class="relative h-16 align-middle justify-center flex   hover:text-blue-400 hover:border-b hover:border-solid hover:border-blue-400 ">
                <a class = "inline-flex items-center gap-x-1 text-l font-semibold leading-6  outline-none" href="/">
                    <span>About</span>
                </a>
            </div>

            <div class="relative h-16 align-middle justify-center flex   hover:text-blue-400 hover:border-b hover:border-solid hover:border-blue-400">
                <a class = "inline-flex items-center gap-x-1 text-l font-semibold leading-6 outline-none" href="/pricing">
                    <span>Pricing</span>
                </a>
            </div>


            <div class="font-extrabold hover:text-blue-400 hover:border-b hover:border-solid hover:border-blue-400 align-middle inline-flex">
                <a class="inline-flex items-center gap-x-1 text-m font-semibold leading-6  outline-none" href="/dashboard">
                    <span>Start</span>
                </a>
            </div>
        </div>
    </nav>
</header>
<header class="blue-bg lg:hidden">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a class="m-1.5 p-1.5" href="/">
                <img class="h-16" src="assets/Logo.jpg" alt="MoneyMinds Logo">
            </a>
        </div>
    </nav>
</header>
</div>